/* ---------------Fuente de iconos------------------ */
@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?rf3opi');
  src: url('../fonts/icomoon.eot?rf3opi#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?rf3opi') format('truetype'),
    url('../fonts/icomoon.woff?rf3opi') format('woff'),
    url('../fonts/icomoon.svg?rf3opi#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-option:before {
  content: "\e900";
}

.icon-fire:before {
  content: "\e901";
}

.icon-heart:before {
  content: "\e902";
}

.icon-home:before {
  content: "\e903";
}

/*-------------Globales---------------------------- */
body {
  margin: 0;
  font-size: 16px;
  font-family: Arial;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
h1{
    font-size: 2.5em;
}
h2{
  font-size: 2.1875em;
}
h3{
  font-size: 1.875em;
}
h4{
  font-size: 1.5625em;
}
h5{
  font-size: 1.25em;
}
h6{
  font-size: 0.9375em;
}
a{
  text-decoration: none;
}
p{
  margin: 0;
}
figure{
  margin: 0;
}
img{
  width: 100%;
}
/* Grid globlal*/
.grid-global{
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-template-rows: 100px 1fr;
  grid-template-areas: 
  "header header"
  "sidebar peliculas";
  gap: 20px;
}

/*------------------------- header --------------------------*/
.header{
  align-self: center;
  grid-area: header;
}
.grid-nav{
    justify-items: center;
    align-items: center;
    display: flex;
    justify-content: space-around;
}
.logo{
  display: flex;
}
.logo-imagen{
  width: 3.125em;
  height: 3.125em;
}
.title {
  display: flex;
  align-items: flex-end;
  margin-left: 10px;
  color: white;
  text-shadow: 0px 0px 3px #FF0000;
}

.form-busqueda input {
  box-sizing: border-box;
  padding: 10px 15px;
  border-radius: 10px;
  border: 1px solid #bcbcbc;
  width: 25em;
}

.perfil {
  display: flex;
}
.form-busqueda input{
    padding: 10px 15px;
    border-radius: 10px;
    border: 1px solid #bcbcbc;
    width: 25em;
}

.imagen-perfil {
  width: 3.75em;
  height: 3.75em;
  margin-right: 10px;
  border-radius: 50%;
  border: 1px solid black;
}

/* SIDEBAR */
.sidebar {
  text-align: center;
  background-color: red;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-area: sidebar;
}
.imagen-perfil{
    width: 3.75em;
    height: 3.75em;
    margin-right: 10px;
    border-radius: 50%;
    border: 1px solid black;
}
/* ---------------Sidebar----------------------- */
.sidebar{
  grid-area: sidebar;
  background-color: #1c8ce8;
  text-align: center;
  display: flex;
  flex-direction: column;

}
.sidebar i{
  font-size: 1.875em;
}
.sidebar a p{
  margin-top: 10px;
}
.sidebar a{
  color: white;
  display: inline-block;
  padding: 10px 0;
}
/* Con esto le estamos diciendo que nuestro 4to enlace
tome todo el margin disponible hacia arriba y se alinea hasta abajo */
.sidebar a:nth-of-type(4){
  margin-top: auto;
}
.sidebar a:hover{
  background-color: #093d70;
}
/* -------------------Caja de peliculas------------------ */
.peliculas{
  grid-area: peliculas;
}
.seccion-grid{
  display: grid;
  grid-template-columns: repeat(3, minmax(12.5em, 1fr));
  grid-template-rows: auto;
  grid-auto-rows: auto;
  gap: 1.25em;
}
.seccion{
  margin-bottom: 20px;
  padding: 0 20px;
}
.titulo-seccion{
  margin-bottom: 10px;
}
.pelicula{
  background-color: #1c8ce8;
  color: white;
}
.detalles-pelicula{
  padding: 10px;
}
.titulo-pelicula{
  margin-top: 5px;
}
.texto-pelicula{
  margin-top: 5px;
}
@media (max-width: 768px) {
  body{
    font-size: 12px;
  }
  .grid-global{
    grid-template-columns: 1fr;
    grid-template-areas: 
    "header "
    "peliculas"
    "sidebar";
  }
  /* header */
  .logo .title{
    margin-bottom: 10px;
  }
  .grid-nav{
    flex-direction: column;
}
  .perfil{
    display: none;
  }
  .barra-busqueda input{
    width: 240px;
  }
  /* Caja de peliculas */
  .seccion-grid{
    grid-template-columns: repeat(auto-fill, minmax(21.875em, 1fr));
  }
}
